<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=700">

		<title>SIGN UP</title>
		<link rel="stylesheet" href="../styles/style_test.css" />
	
	</head>

	<body>
		<form id="sign-up">
			<div class="container">
				<h1>Sign up</h1>

				<label for="mail">Login</label><br/>
				<input type="text" placeholder="Write your login" name="login" required /> <br/>

				<label for="psw">Password</label><br/>
				<input type="password" placeholder="Enter password" name="psw" required /><br/>
 	

				<label for="psw-repeat">Password repeat</label><br/>
				<input type="password" placeholder="Repeat password" name="psw-repeat" required /><br/>

				<div class="clearfix">
      		<button type="button" class="cancelbtn">Cancel</button>
      		<button type="submit" class="signupbtn">Registration</button>
    		</div>
			</div>
		</form>
	</body>
</html>
