<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=700">

		<title>LOG IN</title>
		<link rel="stylesheet" href="../styles/style_test.css" />
		

	</head>


	<body>

		<form >
			<div >
				<h1>Login</h1>
				<p >Please, complete this form to login an account.</p>
				

				<label for="mail">Login</label><br/>
				<input type="text" placeholder="Write your login" name="login" required /> <br/>

				<label for="psw">Password</label><br/>
				<input type="password" placeholder="Enter password" name="psw" required /><br/>
 	

				<div class="clearfix">
      				<button type="submit" class="signupbtn">Login</button>
    			</div>
			</div>
		</form>
		
		
	</body>
</html>